{% extends 'tickets/index.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'tickets/styles/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="contact-container">
        <div class="contact">
            <section class="contact-content">
                <div class="title">
                    <h1>Contact Us</h1>
                </div>
                <section class="action">
                    <p>Have any questions or queries? <b>Write</b> to us down below.</p>
                </section>
                <form method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="sender-info">
                        <input type="text" name="sender-name" placeholder="Enter your name">
                        <input type="email" name="sender-email" placeholder="Enter your email">
                    </div>
                    <div class="message-info">
                        <input type="text" name="message-title" placeholder="Title">
                        <textarea name="message-body" id="body" placeholder="Message"></textarea>
                    </div>
                    <div class="auth-btns">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    {% include 'tickets/footer.html' %}
{% endblock %}
