{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'tickets/styles/main.css' %}">
    {% block css %} {% endblock %}
    <title>{% block title %} {% endblock %}  SmartPotatoFarming</title>
</head>
<body>
    {% include 'tickets/navbar.html' %}
    <div class="django-messages" style="display: flex; align-items: center; justify-content: center;">
        {% if messages %}
        <ul class="messages" style="text-decoration: none; font-size: 20px;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="content-container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>