{% extends 'tickets/index.html' %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <section class="account-container">
        <div class="account-content">
            <div class="account-auth">
                <div class="title">
                    <h1>Password Reset</h1>
                </div>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                {% element p %}
                    {% trans "Forgotten your password? Enter your email address below to reset it." %}
                {% endelement %}
                {% url 'account_reset_password' as reset_url %}
                {% element form form=form method="post" action=reset_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        <div class="auth-btn" style="display: flex; align-items: center; justify-content: center;">
                            {% element button type="submit" %}
                                {% trans 'Reset Password' %}
                            {% endelement %}
                        </div>
                        <!-- {% element button type="submit" %}
                            {% trans 'Reset My Password' %}
                        {% endelement %} -->
                    {% endslot %}
                {% endelement %}
                {% element p %}
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                {% endelement %}
    
            </div>
        </div>        
    </section>
{% endblock content %}
