{% extends "tickets/index.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="account-container">
        <section class="account-content">
            <div class="account-auth">
                <div class="title">
                    {% element h1 %}
                        {% trans "Change Password" %}
                    {% endelement %}
                </div>
                <p style="text-align: center;">
                    You have successfully rest your password. <br>
                Please <a href="{% url 'account_login' %}" style="color: var(--button-color);">login.</a>
                </p>
            </div>
        </section>
    </div>
{% endblock content %}
